<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* css 代码  */
    </style>
    <script src="https://code.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://code.highcharts.com.cn/highstock/highstock.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
</head>

<body>
    <div id="container" style="min-width:400px;height:600px"></div>
    <script>
        // JS 代码 
        // $.getJSON('http://localhost:8000/jsonp/', function (data) {
        $.getJSON('https://data.jianshukeji.com/jsonp?a=e&filename=json/aapl-ohlc.json&callback=?', function (data) {
            // var
            var option = {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: '黄金价格走势'
                },
                xAxis: {
                    tickInterval: 10,
                },
                series: [{
                    type: 'candlestick',
                    name: '价格走势',
                    data: data,
                    color: 'green',
                    lineColor: 'green',
                    upColor: 'red',
                    upLineColor: 'red',
                    navigatorOptions: {
                        color: Highcharts.getOptions().colors[0]
                    },
                    dataGrouping: {
                        units: [
                            [
                                'week', // unit name
                                [1, 2, 3, 4] // allowed multiples
                            ], [
                                'month',
                                [1, 2, 3, 4, 6]
                            ]
                        ]
                    }
                }]
            }
            // create the chart
            var chart = Highcharts.stockChart('container', option);
        });
    </script>
</body>

</html>